.cart-container2 {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-title {
    font-size: 18px;
    color: #333;
  }
  
  .product-price {
    font-size: 16px;
    color: #777;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-btn {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .quantity {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .cart-summary {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 70px;

  }
  
  .cart-summary h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .checkout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;

    text-decoration: none;
  }
  
  .checkout-btn:hover {
    background-color: #0056b3;
  }
  .cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .payment-methods {
    margin-top: 40px; 
    width: 100%;
    margin: 0 auto;
  }
  
  .payment-title {
    text-align: center; /* Centrar el título */
    padding: 20px;
  }
  
  .payment-icons {
    padding: 30px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .payment-icons img {
    margin: 0 50px;
  }
  .remove-btn {
  padding: 8px 8px;
  font-size: 15px;
  background-color: #eb1708;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.remove-btn {
  margin-left: 20px; 
}

/* Estilos para el botón "Limpiar Carrito" */
.clear-cart-btn {
  padding: 10px 10px;
  font-size: 17px;
  background-color: #eb1708;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}

/* Estilos para el contenedor de los métodos de pago */
.payment-methods {
  margin-top: 20px; /* Reduzco el margen superior para que se vea más cerca del botón "Limpiar Carrito" */
}
.cart-item{
  margin-bottom: 30px;
}